@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@800&display=swap');
body{
  padding-top: 5vh; 
  background-image: linear-gradient(#faa46f,#ffd536);
  background-size: cover;
  overflow-x:hidden 
}
#menu{
  display: flex;
  justify-content: space-between;
}
#logoall{
  margin-left: 120px;
  z-index: 1;
}
#onda1{
  position: absolute;
  margin-top: -550px;
  margin-left: -50px;
  width: 1700px;
  height: 1000px;
  z-index: 0;
}
#onda2{
  position: absolute;
  margin-top: 180px;
  margin-left: -50px;
  width: 1700px;
  height: 550px;
  z-index: 0;
}
#corpo{
  display: flex;
  margin-top: -100px;
}
#título{
  position: relative;
  margin-top: 100px;
  margin-right: 400px;
  z-index: 1;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 300%;
  text-align: center;
}

.empresa1{
  display: flex;
  position:relative;
  justify-content: center;
  margin-left: 150px;
  margin-top: 245px;
  margin-right: 1100px;
  padding: 5px;
  height: 30px;
}
.pos{
  font-size: 140%;
  margin-top: -5px;
  margin-right: 150px;
  position: absolute;
}
.empresa{
  display: flex;
  position:relative;
  margin-left: 150px;
  margin-right: 1100px;
  padding: 5px;
  height: 30px;
  justify-content: center;
}
.nota{
  margin-left: 544px;
  position: absolute;
}
.logo{
  margin-left: 115px;
  justify-content:center;
}
.info{
  display:flex;
  position: absolute;
  margin-left: 150px;
  margin-top: 150px;
}
#t1{
  margin-right: 80px;
}
.desc{
  margin-top: 41px;
  height: 1160px;
  width: 500px;
  font-family: 'Be Vietnam', sans-serif;
}
.ranking{
  width: 1200px;
  height: 760px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #ffd536;
  position: relative;
  margin-top: 150px;
  margin-left: 0px;
  font-family: 'Be Vietnam', sans-serif;
}
.nota-in{
  margin-top: 0px;
}
.n1{
  margin-left: 20px;
  margin-top: 0px;
  position: absolute;
  
}
.n2{
  margin-left: 120px;
  margin-top: 0px;
  position: absolute;
}
.n3{
  margin-left: 225px;
  margin-top: 0px;
  position: absolute;
}
.n4{
  margin-left: 350px;
  margin-top: 0px;
  position: absolute;
}
.n5{
  margin-left: 455px;
  margin-top: 0px;
  position: absolute;
}
.n6{
  margin-left: 565px;
  margin-top: 0px;
  position: absolute;
}
.n7{
  margin-left: 670px;
  margin-top: 0px;
  position: absolute;
}
.n8{
  margin-left: 765px;
  margin-top: 0px;
  position: absolute;
}
.row-1{
  display: flex;
  background-color: white;
  padding: 5px;
  height: 30px;
}
.row-2{
  display: flex;
  padding: 5px;
  height: 30px;
}
.head{
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 113px;
  background-color: #ffd536;
  padding: 10px;
}
.icone{
  display:block; 
}
.legenda{
  margin-top: 5px;
  text-align: center;
}
button{
  background-color: #ffd536;
  position: relative;
  border: none;
}
.icon{
  height: 60px;
  width: 45px;
  margin-left: 0px;
  margin-top: 10px;
}
#icon-4{
  padding: 13px;
  height: 50px;
  width: 60px;
  margin: 0;
}
#icon-8{
  height: 65px;
  width: 65px;
  margin-left: 0px;
}
#logoall4{
  width: 173px;
  height: 192px;
  margin-left: 70px;
  margin-top:30px;
  position: absolute;
}
.popup {
  position: relative;
  display: flex;
  cursor:pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #fadf78;
  color: #545454;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
