@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@800&display=swap');
body{
  padding-top: 5vh; 
  background-image: linear-gradient(#faa46f,#ffd536);
  background-size: cover;
  overflow-x:hidden 
}
#menu{
  display: flex;
}
#logoall{
  position: relative;
  margin-left: 120px;
  z-index: 1;
}
#onda1{
  position: absolute;
  margin-top: -550px;
  margin-left: -50px;
  width: 1700px;
  height: 1000px;
  z-index: 0;
}
#onda2{
  position: absolute;
  margin-top: 180px;
  margin-left: -50px;
  width: 1700px;
  height: 550px;
  z-index: 0;
}
#corpo{
  display: flex;
  margin-top: -100px;
}
#título{
  position: relative;
  margin-top: 12vh;
  margin-left: 23%;
  z-index: 1;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 200%;
  text-align: center;
}
.empresa1{
  display: flex;
  position:relative;
  margin-top: 120px;
  justify-content: center;
  padding: 5px;
  height: 30px;
}
.pos{
  font-size: 140%;
  margin-top: 0px; 
  margin-left: 10vw;
  position: absolute;
}
.empresa{
  display: flex;
  position:relative;
  margin-left: 0px;
  padding: 5px;
  height: 30px;
  justify-content: center;
}
.linha-1{
  display: flex ;
}
.linha-2{
  
  display: flex;
}
.nota{
  margin-left: 49vw;
  position: absolute;
}
.logo{
  margin-left: 30vw;
  justify-content:center;
  position: absolute;
}
.desc{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 11%;
  height: 1160px;
  width: 100%;
  font-family: 'Be Vietnam', sans-serif;
}
.info{
  display:flex;
  position: absolute;
  margin-top: 0px;
}
#t1{
  position: absolute;
  margin-left: 10vw;
}
#media{
  position: absolute;
  margin-left: 21.5vw ;
}

.ranking{
  width: 900px;
  height: 760px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #ffd536;
  position: absolute;
  margin-top: 0px;
  margin-left: 32%;
  font-family: 'Be Vietnam', sans-serif;
}

@media screen and (max-width: 1040px) {
  .ranking {
    width: 610px;
  }
  button{
    width: 61px;
  }
  .legenda{
    font-size: 70%;
    justify-content: center;
  }
  .pos{
    display: none;  
  }
  .logo{
    margin-left: 20vw;
  }
  #logoall{
    display: none;
  }
  #t1{
    margin-left: 3vw;
  }
  #media{
    margin-left: 19vw;
  }
}  
@media screen and (min-width: 1040px) and (max-width:1280px) {
  .ranking {
    width: 800px;
  }
} 
@media screen and (min-width: 1599px) {
  .ranking {
    width: 1060px;
  }
  #título{
    margin-left: 30%;
  }
}
@media screen and (min-width: 1919px) {
  .ranking {
    width: 1260px;
  }
  #t1{
    margin-left: 11.5vw;
  }
  #media{
    margin-left: 22vw;
  }
  #título{
    margin-left: 34%;
    font-size: 230%;
  }

}
.nota-in{
  margin-top: 0px;
}
.n1{
  display: block;
  margin-left: 23px;
  margin-top: 0px;
  position: relative;
  width: 45px;
}
.n2{
  display: block;
  margin-left:0px;
  margin-top: 0px;
  position: relative;
  width: 45px;
}
.n3{
  display: block; 
  margin-top: 0px;
  position: relative;
  width: 45px;
}
.n4{
  display: block; 
  margin-left: 22px;
  margin-top: 0px;
  position: relative;
  width: 65px;
}
.n5{
  display: block;
  margin-top: 0px;
  position: relative;
  width: 45px;
}
.n6{
  display: block;
  margin-top: 0px;
  position: relative;
  width: 45px;
}
.n7{
  display: block;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  width: 45px;
}
.n8{
  display: block;
  margin-top: 0px;
  position: relative;
  width: 55px;
}
.row-1{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  height: 30px;
}
.row-2{
  display: flex;
  justify-content: space-between;
  background-color: #ffd536;
  padding: 5px;
  height: 30px;
}
.head{
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100px;
  background-color: #ffd536;
  padding: 10px;
}
.icone{
  display:block; 
}
.legenda{
  margin-top: 5px;
  text-align: center;
}
button{
  background-color: #ffd536;
  position: relative;
  border: none;
}
.icon{
  height: 60px;
  width: 45px;
  margin-left: 0px;
  margin-top: 10px;
}
#icon-4{
  padding: 13px;
  height: 50px;
  width: 60px;
  margin: 0;
}
#icon-8{
  height: 65px;
  width: 65px;
  margin-left: 0px;
}
#logoall4{
  width: 173px;
  height: 192px;
  margin-left: 70px;
  margin-top:30px;
  position: absolute;
}
.popup {
  position: relative;
  display: flex;
  cursor:pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #fadf78;
  color: #545454;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}   
